---
import { getPublishedSnippets } from '../utils/helper';

const snippets = await getPublishedSnippets();
const categories = [...new Set(snippets.map(snippet => snippet.data.lang))].sort();
---

<div class="snippet-language-list">
	<a class="snippet-language-item" href="/snippets">All</a> 
{
	categories.map((category) => (
		<a class="snippet-language-item" href={`/snippets/language/${category}`}>{category}</a> 
		))
}
</div>

<style>
	.snippet-language-list{
		display: flex;
	}

	.snippet-language-item{
		display: inline-block;
		margin: 0 10px;
	}
</style>