---
import { Icon } from 'astro-icon/components'

---


<section>
    <h1>Not Found</h1>
    <p>Sorry, there is nothing at this URL.</p>
    <a href="/"><Icon name="fa6-solid:arrow-rotate-left" /> Go back home</a>
</div>

<style>
    body {
        background-color: #000;
        color: #fff;
        text-align: center;
    }

    section{
        padding-top: 18vh;

    }

    h1 {
        font-size: 8rem;
    }

    p {
        font-size: 3rem;
    }

    a {
        color: #e6b3ff;
        text-decoration: none;
        font-size: 2rem;

    }
</style>
