---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getPublishedArticles } from '../utils/helper';
import { getPublishedGuides } from '../utils/helper';

import ArticleItem from '../components/Article/ArticleItem.astro';
import GuideItem from '../components/Guide/GuideItem.astro';

const articles = (await getPublishedArticles()).sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()).slice(0, 5);
const guides = (await getPublishedGuides()).sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()).slice(0, 5);

---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>Hello!</h1>
	<p>
		My name is Jemin, and I am a full stack .NET developer and AI
		enthusiast. I've been building applications with .NET for over a decade,
		but lately, I've been diving deep into the AI rabbit hole. I created
		this blog so I can share the things I learn in the hope of both helping
		others and deepening my knowledge of the topics I write about.
	</p>
	<p>
		Welcome to my spot on the web for writing, guides, code snippet, and
		anything else I want to put out there.
	</p>
	<p>
		My site has no ads, no tracking, no sponsored posts, and no paywall. My
		motivation for the site is to have a space for self-expression and to
		share what I've learned with the world. I hope I will inspire others to
		make their own creative corner on the web in the uphill battle against
		the enshittification of the internet.
	</p>


	<hr />
	<h1>Articles</h1>
	<section>
		{
			articles.map((article) => (
				<ArticleItem article={{ ...article.data, slug: article.slug }} />
			))
		}
	</section>
	
	<hr />

	<h1>Guides</h1>
	<section>
		{
			guides.map((guide) => (
				<GuideItem guide={{ ...guide.data, slug: guide.slug }} />
			))
		}
	</section>
</BaseLayout>



<!-- 
TODO
Display few articles, guide, code snippets like
https://thinkdobecreate.com/ 
-->