---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getPublishedArticles } from "../utils/helper";
import ArticleItem from "../components/Article/ArticleItem.astro";

const articles = (await getPublishedArticles())
	.sort(
		(a, b) =>
			b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
	)
	.slice(0, 5);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="landing-page">
		<section class="intro">
			<h1>Hello, my name is Jemin</h1>
			<p>
				I am a full stack developer and I have been building
				applications with .NET for over a decade, but lately, I've been
				diving deep into the AI rabbit hole. I created this blog so I
				can share the things I learn in the hope of both helping others
				and deepening my knowledge of the topics I write about.
				Welcome to my spot on the web for articles, code
				snippet, and anything else I want to put out here.
			</p>
		</section>

		<section>
			<h1>Latest articles</h1>
			{
				articles.map((article) => (
					<ArticleItem
						article={{ ...article.data, slug: article.slug }}
					/>
				))
			}

			<div class="load-more">
				<a class="load-more__link" data-instant="" href="/articles"
					>See All Articles</a>
			</div>
		</section>
	</div>
</BaseLayout>

<style>
	.intro {
		background: #ece7e7;
		padding: 2rem;
		margin-top: 1rem;
		border-radius: 10px;

	}

	.intro h1 {
		margin: 0 0 1rem;
	}

	.title-introduction {
		margin-bottom: 2rem;
	}

	.load-more {
		text-align: center;
		padding: 1em 0;
	}

	a.load-more__link {
		letter-spacing: 1px;
		background-position: center 72%;
		text-transform: uppercase;
		font-size: 0.75em;
		color: inherit;
		background: 0 0;
		text-shadow: none;
		border-bottom: 5px solid #d33a2c;
		letter-spacing: 1px;
		transition: all 0.1s ease-out;
		display: inline-block;
		cursor: pointer;
		text-decoration: none;
	}

	a.load-more__link:focus,
	a.load-more__link:hover {
		color: #d33a2c;
	}
</style>
