---
import { getPublishedArticles } from '../../utils/helper';
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/BaseLayout.astro";
import ArticleCategoryList from '../../components/Article/ArticleCategoryList.astro';
import ArticleItem from '../../components/Article/ArticleItem.astro';

const articles = (await getPublishedArticles()).sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf());

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>

	<ArticleCategoryList />

	<section>
		{
			articles.map((article) => (
				<ArticleItem article={{ ...article.data, slug: article.slug }} />
			))
		}
	</section>
</Layout>
