---
import type { Snippet } from '../../content/config';

// Define props with the Article type
interface Props {
  snippet: Snippet;
}

const { snippet: snippet } = Astro.props;
---

<a class="card" href={`/snippets/${snippet.slug}`}>
	<h3 class="title">{snippet.title}</h3>
	<p>{snippet.description}</p>
	<small class="category">{snippet.category}</small>
</a>

