---
import { getPublishedGuides } from '../../utils/helper';


// Fetch all articles from the collection
const guides = await getPublishedGuides();
// Get a list of unique categories
const categories = [...new Set(guides.map(article => article.data.category))].sort();
---

<div class="category-list">
	<a class="category-item" href="/guides">All</a> 
{
	categories.map((category) => (
		<a class="category-item" href={`/guides/category/${category}`}>{category}</a> 
		))
}
</div>

<style>
	.category-list{
		display: flex;
	}

	.category-item{
		display: inline-block;
		margin: 0 10px;
	}
</style>