---
import { getPublishedGuides,	normalizeSpaceAndCase } from "../../utils/helper";
const { pathname } = Astro.url;

const guides = await getPublishedGuides();
const categories = [...new Set(guides.map(article => article.data.category))].sort();

const categorieItems = categories.map((category: string)  => {
	const urlPath = `/guides/category/${normalizeSpaceAndCase(category)}`;
	return {
		name: category,
		selected: urlPath === pathname,
		url: urlPath,
	};
});

categorieItems.unshift({
	name: "All",
	selected: "/guides" === pathname,
	url: "/guides",
});
---

<div class="category-list">
	{
		categorieItems.map((categoryItem) => (<a class:list={["category-item",{ selected: categoryItem.selected }, ]} href={categoryItem.url}>{categoryItem.name}</a>))
	}
</div>