---
import { getPublishedGuides, normalizeSpaceAndCase } from '../../../utils/helper';
import Layout from '../../../layouts/BaseLayout.astro';
import GuideItem from '../../../components/Guide/GuideItem.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import GuideCategoryList from '../../../components/Guide/GuideCategoryList.astro';

export async function getStaticPaths() {
  const guides = await getPublishedGuides();
  const categories = [...new Set(guides.map(guide => normalizeSpaceAndCase(guide.data.category)))];
  return categories.map(category => 
  ({
    params: { category }
  }));
}

const { category } = Astro.params;
const guides = await getPublishedGuides();
const filteredGuides = guides.filter(guide => normalizeSpaceAndCase(guide.data.category) === category);

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>

	<GuideCategoryList />

	<section>
		{
			filteredGuides.map((guide) => (
				<GuideItem guide={{ ...guide.data, slug: guide.slug }} />			
			))
		}
	</section>
</Layout>
