---
import { getPublishedArticles, normalizeSpaceAndCase } from '../../../utils/helper';
import Layout from '../../../layouts/BaseLayout.astro';
import ArticleItem from '../../../components/Article/ArticleItem.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import ArticleCategoryList from '../../../components/Article/ArticleCategoryList.astro';

export async function getStaticPaths() {
  const articles = await getPublishedArticles();
  const categories = [...new Set(articles.map(article => normalizeSpaceAndCase(article.data.category)))];

  return categories.map(category => 
  ({
    params: { category }
  }));
}

const { category } = Astro.params;
const articles = await getPublishedArticles();
const filteredArticles = articles.filter(article => normalizeSpaceAndCase(article.data.category) === category);

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>

	<ArticleCategoryList />

	<section>
		{
			filteredArticles.map((article) => (
				<ArticleItem article={{ ...article.data, slug: article.slug }} />			
			))
		}
	</section>
</Layout>
