---
import { getPublishedSnippets } from '../../utils/helper';
import Layout from "../../layouts/BaseLayout.astro";
import SnippetItem from '../../components/SnippetItem.astro';
import SnippetLanguageList from '../../components/SnippetLanguageList.astro';

const snippets = (await getPublishedSnippets()).sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf());
---

<Layout title="Snippets" description="Code snippets">

	<SnippetLanguageList />

	<section>
		{
			snippets.map((snippet) => (
				<SnippetItem snippet={{ ...snippet.data, slug: snippet.slug }} />
			))
		}
	</section>
</Layout>

