---
---

<footer>
	<!-- &copy; {today.getFullYear()} JeminPro All rights reserved. -->
	<div class="typing-container">Designed by Jemin the <span typing-speed="70" typing-delay="1000" data-words="Front-end developer,Back-end developer,Full stack developer"></span></div>
</footer>
<style>
	footer {
		padding: 1rem;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
        margin-top: auto;
	}
	
	
.typing-container {
  font-size:1.5rem;
  font-weight: 400;
}
.typing-container span{
    color: red; 
}
.typing-container span::after{
    content: '|';
    animation-name: blinking; 
    animation-duration: .71s; 
    animation-iteration-count: infinite;
}
@keyframes blinking{
    from{
        color: transparent; 
    }
    to{
        color: lightgrey; 
    }
}
</style>
