---
import { getPublishedSnippets } from '../../utils/helper';
import Layout from "../../layouts/BaseLayout.astro";
import SnippetItem from '../../components/Snippet/SnippetItem.astro';
import SnippetCategoryList from '../../components/Snippet/SnippetCategoryList.astro';

const snippets = (await getPublishedSnippets()).sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf());
const categories = [...new Set(snippets.map(snippet => snippet.data.category))].sort();

---

<Layout title="Snippets" description="Code snippets">

	<SnippetCategoryList />

	{
		categories.map((category) => (
			<>
				<h6 class="category-heading">{category}</h6>
				<section>
					{
						snippets.filter(snippet => snippet.data.category === category).map((snippet) => (
							<SnippetItem snippet={{ ...snippet.data, slug: snippet.slug }} />
						))
					}
				</section>
			</>
		))
	}
</Layout>

