---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Nav/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description?: string;
	isMainLarge?: Boolean;
	bodyClasses?: string;
}

const { title, description, isMainLarge, bodyClasses } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class={bodyClasses}>
		<Header />
		<main class={isMainLarge && "main-large"}>
			<slot />
		</main>
		<Footer />
		<script>
			import site from "../scripts/site.js";
			site().init();
		</script>
	</body>
</html>
