---
import { getPublishedSnippets, normalizeSpaceAndCase } from '../../../utils/helper';
import Layout from '../../../layouts/BaseLayout.astro';
import SnippetItem from '../../../components/Snippet/SnippetItem.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import SnippetCategoryList from '../../../components/Snippet/SnippetCategoryList.astro';

export async function getStaticPaths() {
  const snippets = await getPublishedSnippets();
  const categories = [...new Set(snippets.map(snippet => normalizeSpaceAndCase(snippet.data.category)))];

  return categories.map(category => 
  ({
    params: { category }
  }));
}

const { category } = Astro.params;
const snippets = await getPublishedSnippets();
const filteredSnippets = snippets.filter(snippet => normalizeSpaceAndCase(snippet.data.category)  === category);

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>

	<SnippetCategoryList />

	<section>
		{
			filteredSnippets.map((snippet) => (
				<SnippetItem snippet={{ ...snippet.data, slug: snippet.slug }} />			
			))
		}
	</section>
</Layout>
