/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: rgb(96, 115, 159);
	--gray-light: rgba(229, 233, 240);
	--gray-dark: #242424;
	--gray-gradient: rgba(229, 233, 240, 50%), #fff;
}


* {
	box-sizing: border-box;
}

body {
	font-family: "Inter",  sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--gray-dark);
	font-size: 1.125rem;
	line-height: 1.7;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	width: 800px;
	max-width: calc(100% - 2em);
	margin: 0 auto;
}

.main-large {
	width: 1300px;
	max-width: calc(100% - 2em);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0 .75rem;
	line-height: 1;
}

h1 {
font-size: 2em; /* 2 * parent font size */
}

h2 {
font-size: 1.5em; /* 1.5 * parent font size */
}

h3 {
font-size: 1.125em; /* 1.125 * parent font size */
}

h4 {
font-size: 0.875em; /* 0.875 * parent font size */
}

h5 {
font-size: 0.75em; /* 0.75 * parent font size */
}

h6 {
font-size: 0.625em; /* 0.625 * parent font size */
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin: 0 0 1rem;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: var(--gray-light);
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid var(--gray-light);
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/* custom */
.d-none {
	display: none !important;
}

.d-block {
	display: block;
}

.expressive-code {
	margin-bottom: 1.5rem;
}

	/****** TAGS ******/
.tags-wrapper {
	position: relative;
	margin: 1rem 0;
}

.tags-list {
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	padding: 3px 0 3px 0;
}

.tag {
	flex: 0 0 auto;
	/* Prevent items from shrinking */
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s ease;
	user-select: none;
	margin-right: 3px;
	border: #d35244 2px solid;
	padding: 1px 10px;
	color: #d35244;
	border-radius: 10px;
	font-size: medium;
}

.tag.selected {
	background-color: rgb(179, 83, 72);
	border: rgb(179, 83, 72) 2px solid;
	color: white;
	pointer-events: none;
}

.tags-list .tag:not(.active):hover {
	background-color: #d35244;
	color: white;
}

.arrow-left,
.arrow-right {
	position: absolute;
	z-index: 200;
	height: 100%;
	top: 0px;
	cursor: pointer;
	user-select: none;
	color: #444;
	padding: 5px 2px 0 3px;
	width: 20px;
}

.arrow-left {
	left: 0px;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
}

.arrow-right {
	right: 0px;
	background: rgba(255, 255, 255, 0.5);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
}

:is(.arrow-left, .arrow-right):hover {
	color: #d35244;
}

.tags-list::-webkit-scrollbar {
	height: 0px;
}

.tags-list::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.tags-list::-webkit-scrollbar-track {
	background: #f0f0f0;
}

@media (hover: none) {
	.tags-list::-webkit-scrollbar {
		height: 5px;
	}

	.arrow-left,
	.arrow-right {
		display: none;
	}
}

.display-none {
	display: none;
}
  

	/*** Card **************/


	.card {
		display: block;
		border: 1px solid #dad9d9;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
		margin-bottom: 1rem;
		padding: 0 1.5rem;
		position: relative;
	}

	a.card {
		text-decoration: none;
		color: inherit;
		position: relative;
	}

	a.card:hover {
		background: #fbfbfb;
	}

	.card .title, .card .title a{
		color: #333;
		text-decoration: none;
		margin: 1rem 0;
	}	

	.card footer {
		border-top: 1px solid #e6e6e6;
		padding: 0.5rem 0;
	}

	.card .read-more {
		color: #d35244;
		font-size: 1rem;
		height: 1.5rem;
		letter-spacing: 1px;
		line-height: 1.5rem;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		white-space: nowrap;
		border: 1px solid #d35244;
		border-radius: 3px;
		padding: 0.2rem 0.5rem;
		text-decoration: none;
	}

		.card .read-more:hover {
			text-decoration: none;
			background: #d35244;
			color: #ffffff;
			transition:
				background ease-in-out 250ms,
				transform ease-in-out 250ms;
		}

	.card .category {
		position: absolute;
		bottom: .15rem;
		right: 1.5rem;
		padding: 3px 7px;
		color: #777;
		border-radius: 0 0 5px 0;
		font-size: 0.9rem;
		user-select: none;
	}

	.category-heading {
		margin-top: 2rem;
		color: #777;
	}


	/*** content styling ****/

	.content {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 0.5rem 0;
	}
	
	.content .title {
		padding-top: 1rem;
		line-height: 1;
	}

	.content .content-info {
		color: var(--gray);
		font-size: 0.9rem;
	}

	.content .info-item{
		margin-right: 1rem;
	}

	.expressive-code {
		margin: 1rem 0;
	}

	