---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const firstSegment = pathname.split('/').slice(0, 2).join('/');

const isActive = href === firstSegment;
//const subpath = pathname.match(/[^\/]+/g);
//const isActive = href === pathname || href === '/' + subpath?.[0];


// console.log("subpath",subpath);
//   console.log("pathname",pathname);
//   console.log("href",href);

---

<a
	href={href}
	class:list={[className, { "selected-menu-item": isActive }]}
	{...props}
>
	<slot />
</a>