---
import { Icon } from 'astro-icon/components'

const {className} = Astro.props;

---

<div class={className}>
	<a target="_blank" href="https://www.linkedin.com/in/jeminpro/" class="social">
		<Icon name="linkedin" />
	</a>
	<a target="_blank" href="https://github.com/jeminpro" class="social">
		<Icon name="github" />
	</a>
	<a target="_blank" href="https://codepen.io/jemin" class="social">
		<Icon name="codepen" />
	</a>
</div>

<style>
	a {
		text-decoration: none;
		color: #fff;
	}

	[data-icon] {
		font-size: 2rem;
	}

	.social-mobile {
		display: flex;
		gap: 1rem;
		padding: 1.5rem;
	}

	.social-desktop {
		display: none;
	}

	@media (min-width: 750px) {	

		.social-desktop {
			display: flex;
			gap: 1rem;
			padding: 2rem;
		}
	}

</style>