---
import { getPublishedArticles,	normalizeSpaceAndCase } from "../../utils/helper";
import { Icon } from 'astro-icon/components'
let { pathname } = Astro.url;

pathname = pathname.replace(/\/$/, '');	// trim trailing slash
const articles = await getPublishedArticles();
const categories = [...new Set(articles.map((article) => article.data.category))].sort();

const categorieItems = categories.map((category: string)  => {
	const urlPath = `/articles/category/${normalizeSpaceAndCase(category)}`;
	return {
		name: category,
		selected: urlPath === pathname,
		url: urlPath,
	};
});

categorieItems.unshift({
	name: "All",
	selected: "/articles" === pathname,
	url: "/articles",
});
---

<div class="tags-wrapper">
	<div class="tags-list">
		{
			categorieItems.map((categoryItem) => (<a class:list={["tag",{ selected: categoryItem.selected }, ]} href={categoryItem.url}>{categoryItem.name}</a>))
		}
	</div>
	<div class="arrow-left display-none" >
		<Icon name="fa6-solid:chevron-left" />
	</div>

	<div class="arrow-right display-none">
		<Icon name="fa6-solid:chevron-right" />
	</div>
</div>
